body {
  background-image:url("https://github.com/CIDoubleAgent/Nicks-Web-Dev-Portfolio/blob/main/images/walpaper-light-tile.jpg?raw=true");
  background-color: #cccccc;
}

p {
  font-size: 20px;
}

header {
  padding-top: 1px;
}

#thumbnail {
  height: 330px;
}

.card-content {
  height: 140px;
}

.card-title {
  margin-left: 10px;
}

#banner {
  padding-top: 7px;
}

#subtitle {
  padding-right: 4px;
  padding-bottom: 8px;

}

#about-me-card,
#profile-image,
.hoverable {
  border: solid;
  border-color: #0277bd;
}

#about-me-card:hover,
#profile-image:hover,
.hoverable:hover {
  border-color: #03a9f4;
}

.bio {
  margin: 30px
}

.skills {
  margin: 0px 30px 30px
  30px;
}

.portfolio-wrapper {
  margin-bottom: 20px;
}

#contact-card-wrapper {
  margin-bottom: 100px;
}

#contact-info {
  margin-bottom: 20px;
}

#card-body {
  height: 300px;
}

#small-text {
  font-weight: bold;
  font-size: 20px;
}

.footer-text {
  margin-left: 4%;
  margin-right: 4%;
}

.page-footer {
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}