/* General */
body {
  /* background-image:url("https://github.com/CIDoubleAgent/react-portfolio/blob/main/src/components/images/appwalpaper-greyabstract.jpg?raw=true"); */
  background-color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

#small-text {
  font-weight:500;
  font-size: 18px;
}

/* Header */
#banner {
  padding-left: 10px;
  padding-right: 10px;
}

/* Navigation */
.navbtn {
  margin-top: 10px;
  padding-bottom: 37px;
  width: 140px;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 25px;
  color: #fff;
}

.navbtn:focus {
  color: #00bcd4;
}

.navbtn:hover {
  border-color: #00bcd4;
}

/* About Me Section */
#about-me {
  margin-bottom: 30px;
}

#profile-image {
  /* border: solid;
  border-color: #00bcd4; */
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 15px;
  max-height: 200px;
}

.bio {
  margin-left: 30px;
  margin-bottom: 30px;
}

.skills {
  margin: 0px 30px 30px
  30px;
  padding-bottom: 30px;
}

/* Projects section */
.portfolio-wrapper {
  margin-bottom: 20px;
}

.project-card {
  border: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: #000;
}

.project-card:hover {
  border-color: #00bcd4;
}

.card-content {
  height: 140px;
}

.card-title {
  margin-left: 10px;
  margin-bottom: 5px;
}

.cryptid2-card-content {
  height: 129px;
}

.card-content-weather {
height: 155px;
}

#work {
  margin-bottom: 90px;
}

/* Contact */
#contact-me {
  margin-bottom: 100px;
}

#contact-info {
  margin-top: 50px;
  margin-bottom: 20px;
}

#card-body {
  height: 300px;
}

.submit-btn {
  padding-bottom: 37px;
  border: solid;
  border-color: #000;
  border-width: 2px;
  border-radius: 25px;
  width: 120px;
}

.submit-btn:hover {
  color: #00bcd4;
  background-color: #000;
  border-color: #00bcd4;
}

.submit-btn:active {
  color: #424242;
  border-color: #424242;
}

/* Footer */
.footer-text {
  margin-left: 4%;
  margin-right: 4%;
}

.page-footer {
  padding-top: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Media Queries */


@media screen and (min-width: 2500px) {
  .card-content-weather {
    height: 163px;
  }
}

@media screen and (min-width: 1812px) {
  .card-content-weather {
    height: 163px;
  }
}

@media screen and (min-width: 1778px) {
  .cryptid2-card-content {
    height: 123px;
  }
}

@media screen and (max-width: 760px) {
  #title {
    font-size: 40px;
  }
  #subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 599px) {
  #title {
    font-size: 35px;
  }
  #subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .card-action {
    font-size: 69%;
  }

  #title {
    font-size: 30px;
  }
  #subtitle {
    font-size: 17px;
  }
}