body {
  background-image:url("https://github.com/CIDoubleAgent/Nicks-Web-Dev-Portfolio/blob/main/images/walpaper-light-tile.jpg?raw=true");
  background-color: #cccccc;
}

body::-webkit-scrollbar {
  display: none;
}

.navbtn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  width: 140px;
}

.card-content {
  height: 140px;
}

.card-title {
  margin-left: 10px;
}

#banner {
  padding-top: 20px;
  padding-left: 10px;
}

#subtitle {
  padding-right: 10px;
  padding-bottom: 10px;
}

.profile-image-2 {
  display: none;
}

#about-me {
  margin-bottom: 100px;
}

#about-me-card {
  font-size: 20px;
}

#about-me-card,
#profile-image,
.hoverable {
  border: solid;
  border-color: #0277bd;
}

.bio {
  margin: 30px
}

.skills {
  margin: 0px 30px 30px
  30px;
}

.portfolio-wrapper {
  margin-bottom: 20px;
}

.card-content-weather {
height: 147px;
}

#work {
  margin-bottom: 90px;
}

#contact-me {
  margin-bottom: 100px;
}

#contact-info {
  margin-bottom: 20px;
}

#card-body {
  height: 300px;
}

#small-text {
  font-weight: bold;
  font-size: 20px;
}

.footer-text {
  margin-left: 4%;
  margin-right: 4%;
}

.page-footer {
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .profile-image-1 {
    display: none;
  }
  .profile-image-2 {
    width: 300px;
    height: auto;
    display: inline;
    margin-top: 50px;
  }
}

@media screen and (max-width: 599px) {
  .profile-image-1 {
    display: none;
  }
  .profile-image-2 {
    width: 300px;
    height: auto;
    display: inline;
    margin-top: 50px;
  }

  #about-me-card {
    width:max-content;
    align-self: center;
  }

  .navigation {
    height: 110px;
  }
}

@media screen and (max-width: 408px) {
  .card-action {
    height: 70px;
  }
}

@media screen and (max-width: 299px) {
  .navigation {
    height: 220px;
  }
}